name: Build

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_windows:
    name: Build on Windows
    runs-on: windows-2022

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86_64

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Build with CMake
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
          cmake --build .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: example-plugin-windows
          path: |
            ./build/endstone_*.dll
            ./build/endstone_*.pdb

  build_linux:
    name: Build on Ubuntu
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Clang 15
        env:
          LLVM_VERSION: 15
        run: |
          sudo apt-get update -y -q
          sudo apt-get install -y -q lsb-release wget software-properties-common gnupg
          sudo wget https://apt.llvm.org/llvm.sh
          sudo chmod +x llvm.sh
          sudo ./llvm.sh ${LLVM_VERSION}
          sudo apt-get install -y -q libc++-${LLVM_VERSION}-dev libc++abi-${LLVM_VERSION}-dev
          sudo update-alternatives --install /usr/bin/cc cc /usr/bin/clang-${LLVM_VERSION} 100
          sudo update-alternatives --install /usr/bin/c++ c++ /usr/bin/clang++-${LLVM_VERSION} 100

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Build with CMake
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
          cmake --build .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: example-plugin-linux
          path: ./build/endstone_*.so

  release:
    name: Create Release
    needs: [build_windows, build_linux]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    
    steps:
      - name: Download Windows Artifacts
        uses: actions/download-artifact@v4
        with:
          name: example-plugin-windows
          path: artifacts/windows

      - name: Download Linux Artifacts
        uses: actions/download-artifact@v4
        with:
          name: example-plugin-linux
          path: artifacts/linux

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/windows/*
            artifacts/linux/*
          generate_release_notes: true
